# Python
__pycache__/
*.pyc

# Node.js
node_modules/
dist/
npm-debug.log*

# OS-specific
.DS_Store

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific

# Task files
# tasks.json
# tasks/ 
